@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode */
  --color-text: #080706;
  --color-background: #fdfbf5;
  --color-primary: #c2910c;
  --color-secondary: #f2e7c7;
  --color-accent: #e6d3a0;
}

[data-theme='dark'] {
  /* Dark Mode */
  --color-text: #f2e7c7;
  --color-background: #080706;
  --color-primary: #c2910c;
  --color-secondary: #f2e7c7;
  --color-accent: #3b2c05;
}